<!DOCTYPE html>
<html>

<head>
    <%= stylesheet_link_tag 'vconnect' %>
</head>

<body>

    <h5  >Enter the room name to join the meeting</h6>

    <div class="d-flex justify-content-center classWithPad p-4 border ">
        <div class="w-75 ">
            <input id="username-input" type="text" class="form-control" placeholder="Enter room name">
            <br>
            <button onclick="joinCall()" class="btn btn-success " type="button">Join call</button>
        </div>

    </div>
    <div id="video-call-div">
        <video muted id="local-video" autoplay></video>
        <video id="remote-video" autoplay></video>


        <div class="call-action-div">
            <button>Mute Video</button>
            <button>Mute Audio</button>
        </div>
    </div>
    <br>
    <br>
    <%= javascript_pack_tag 'receiver' %>

</body>

</html>