<!DOCTYPE html>
<html>
    <head>

        <%= stylesheet_link_tag 'vconnect' %>

    </head>
    <body>
        <div>
            <input placeholder="Enter username..." type="text" id="username-input-sender"/><br>
            <button onclick="sendUsername()">Send</button>
            <button onclick="startCall()">Start Call</button>
        </div>
        <div id="video-call-div">
            <video muted id="local-video" autoplay></video>
            <video id="remote-video" autoplay></video>
            <div class="call-action-div">
                <button onclick="muteVideo()">Mute Video</button>
                <button onclick="muteAudio()">Mute Audio</button>
            </div>
        </div>
        <%= javascript_pack_tag 'sender' %> 

    </body>

</html>
