<nav class="navbar navbar-expand-lg justify-content-between" style="background-color: rgba(251,248,245,0.98);">
    <a class="navbar-brand" href="#">
        <%= image_tag("logo.svg",size: "150x50" , :alt=> "rss feed") %>

    </a>
    <div class="container">

        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav align-self-center ">
                <a class="btn btn-sm m-2 " aria-current="page" href="#">Home</a>
                <a class="btn btn-sm m-2 " href="#">Pings</a>
                <a class="btn btn-sm m-2 " href="#">Pricing</a>
                <a class="btn btn-sm m-2 " href="#">Hey!</a>
                <a class="btn btn-sm m-2 " href="#">Activity</a>
                <a class="btn btn-sm m-2 " href="#">My stuff</a>
                <a class="btn btn-sm m-2 " href="#">V connect</a>
                <a class="btn btn-sm m-2 " href="#">Find</a>
            </div>
        </div>
    </div>
    <a class="navbar-brand" href="#">
        <%= image_tag("logo.png",size: "50x50" , :alt=> "rss feed") %>
            Anitesh Reddy
    </a>
</nav>

<!-- <nav class="navbar navbar-expand-lg justify-content-between">
    <a class="navbar-brand" href="#">
    </a>
    <ul class="navbar-nav align-self-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Latest activity</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Hey!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Campfires</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Find</a>
        </li>
    </ul>
    <ul class="navbar-nav align-self-center">
        <li class="nav-item navbar-profile-icon">
            <a class="nav-link" href="#">B</a>
        </li>
    </ul>
</nav> -->